<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gudrun Kopp</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ STATIC_URL }}pages/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ STATIC_URL }}pages/css/base.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ STATIC_URL }}pages/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
          rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand">
            <a href="#top">Gudrun Kopp</a>
        </li>
        <li>
            <a href="#about">Person</a>
        </li>
        <li>
            <a href="#services">Angebote</a>
        </li>
        <ul>
            <li>
                <a href="#children">Kinder und Jugendliche</a>
            </li>
            <li>
                <a href="#children">Elternberatung</a>
            </li>
            <li>
                <a href="#children">Supervision</a>
            </li>
            <li>
                <a href="#children">Coaching</a>
            </li>
        </ul>

        <li>
            <a href="#portfolio">Arbeit</a>
        </li>
        <li>
            <a href="#contact">Kontakt</a>
        </li>
    </ul>
</nav>

<!-- Header -->
<header id="top" class="header">
    <div class="text-vertical-center">
        <div class="img-rounded" style="display: inline-block; padding: 20px; background-color: rgba(80,80,150,0.8)">
            <h1 id="logo">Gudrun Kopp</h1>

            <h3><i>{{ slogan }}</i></h3>
            <br>
            <a href="#about" class="btn btn-dark btn-lg">Mehr erfahren</a>
        </div>
    </div>
</header>

<!-- About -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img src="{{ STATIC_URL }}pages/img/profile.jpg" alt="Profile Picture"
                     class="img-responsive img-circle center-block" style="max-height: 300px;">

                <h2 class="text-center">Meine Person</h2>
                <hr class="small">
                <p class="lead" style="text-align: justify;">
                    {{ person|linebreaksbr }}
                </p>


                <div class="col-lg-6">
                    <div class="list-group">
                        <a class="list-group-item list-group-item-info active">
                            <h4>Aus- und Weiterbildungen</h4>
                        </a>
                        <a class="list-group-item list-group-item-info">
                            <i class="fa fa-chevron-circle-right fa-fw fa-lg" style="color:green"></i>&nbsp;
                            Studium der Psychologie
                        </a>
                        <a class="list-group-item list-group-item-info">
                            <i class="fa fa-chevron-circle-right fa-fw fa-lg" style="color:green"></i>&nbsp;
                            Klinische und Gesundheitspsychologie
                        </a>
                        <a class="list-group-item list-group-item-info">
                            <i class="fa fa-chevron-circle-right fa-fw fa-lg" style="color:green"></i>&nbsp;
                            Kinder-, Jugend- und Familienpsychologie
                        </a>
                        <a class="list-group-item list-group-item-info">
                            <i class="fa fa-chevron-circle-right fa-fw fa-lg" style="color:green"></i>&nbsp;
                            Systemische Supervision und Coaching (seit November 2013)
                        </a>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="list-group">
                        <a class="list-group-item list-group-item-info active">
                            <h4>Bisherige Arbeitsstellen</h4>
                        </a>
                        <a class="list-group-item list-group-item-info">
                            <i class="fa fa-chevron-circle-right fa-fw fa-lg" style="color:green"></i>&nbsp;
                            Caritas für Menschen mit Behinderungen St. Isidor
                        </a>
                        <a class="list-group-item list-group-item-info">
                            <i class="fa fa-chevron-circle-right fa-fw fa-lg" style="color:green"></i>&nbsp;
                            Landes Frauen- und Kinderklinik Linz
                        </a>
                        <a class="list-group-item list-group-item-info">
                            <i class="fa fa-chevron-circle-right fa-fw fa-lg" style="color:green"></i>&nbsp;
                            BBRZ Linz
                        </a>
                        <a class="list-group-item list-group-item-info">
                            <i class="fa fa-chevron-circle-right fa-fw fa-lg" style="color:green"></i>&nbsp;
                            Institut Hartheim Alkoven (seit Oktober 2012)
                        </a>
                    </div>
                </div>

            </div>

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Services -->
<!-- The circle icons use Font Awesome's stacked icon classes. For more information, visit http://fontawesome.io/examples/ -->
<section id="services" class="services bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Meine Angebote</h2>
                <hr class="small">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-child fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Kinder und Jugendliche</strong>
                            </h4>
                            <a href="#children" class="btn btn-light">Mehr Erfahren</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-compass fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Elternberatung</strong>
                            </h4>
                            <a href="#parents" class="btn btn-light">Mehr Erfahren</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-eye fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Supervision</strong>
                            </h4>
                            <a href="#supervision" class="btn btn-light">Mehr Erfahren</a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-item">
                                <span class="fa-stack fa-4x">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-shield fa-stack-1x text-primary"></i>
                            </span>
                            <h4>
                                <strong>Coaching</strong>
                            </h4>
                            <a href="#coaching" class="btn btn-light">Mehr Erfahren</a>
                        </div>
                    </div>
                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Callout -->
<aside class="callout">
    <div class="text-vertical-center">
        <h1></h1>
    </div>
</aside>

<!-- Portfolio -->
<section id="portfolio" class="portfolio">
    <div class="container">

        <div class="row">
            <div class="col-lg-12">

                <h2 class="text-center">Meine Arbeit</h2>
                <hr class="small">


                <!-- START THE FEATURETTES -->

                {#                <hr class="featurette-divider">#}

                <div id="children" class="row featurette">
                    <div class="col-md-6 well">
                        <h2 class="featurette-heading">Psychologische Behandlung von Kindern und Jugendlichen. <span
                                class="text-muted">Positive Richtung.</span>
                        </h2>

                        <p class="lead">
                            <i class="fa fa-child fa-3x pull-left fa-border"></i>
                            {{ children|linebreaksbr }}
                        </p>

                        <p class="text-center">
                            <a href="#contact" class="btn btn-contact btn-dark btn-lg">Kontakt</a>
                        </p>
                    </div>
                    <div class="col-md-6">
                        <img src="{{ STATIC_URL }}pages/img/family.jpg" alt="Family Picture"
                             class="img-responsive center-block">
                        <ul class="list-group">
                            <li class="list-group-item work-focus"><b>Arbeitsschwerpunkte</b>
                            </li>
                            <li class="list-group-item list-group-item-info"><i
                                    class="fa fa-chevron-circle-right fa-fw"></i>
                                Unterstützung bei Schulschwierigkeiten
                            </li>
                            <li class="list-group-item list-group-item-info"><i
                                    class="fa fa-chevron-circle-right fa-fw"></i> Verringerung von
                                Verhaltensauffälligkeiten
                            </li>
                            <li class="list-group-item list-group-item-info"><i
                                    class="fa fa-chevron-circle-right fa-fw"></i> Steigerung des Selbstwertgefühls
                            </li>
                            <li class="list-group-item list-group-item-info"><i
                                    class="fa fa-chevron-circle-right fa-fw"></i> Erhöhung der sozialen Kompetenz
                            </li>
                            <li class="list-group-item list-group-item-info"><i
                                    class="fa fa-chevron-circle-right fa-fw"></i> Bewältigung von Ängsten
                            </li>
                        </ul>

                    </div>
                </div>

                <hr class="featurette-divider">

                <div id="parents" class="row featurette">
                    <div class="col-md-6">
                        <img src="{{ STATIC_URL }}pages/img/hands-two.jpg" alt="Parent Picture"
                             class="img-responsive center-block">
                        <ul class="list-group">
                            <li class="list-group-item work-focus"><b>Arbeitsschwerpunkte</b>
                            </li>
                            <li class="list-group-item list-group-item-info"><i
                                    class="fa fa-chevron-circle-right fa-fw"></i> Alternativer Umgang mit
                                herausfordernden
                                Situationen im Alltag
                            </li>
                            <li class="list-group-item list-group-item-info"><i
                                    class="fa fa-chevron-circle-right fa-fw"></i> Förderung eines positiven Miteinanders
                                in
                                der Familie
                            </li>
                            <li class="list-group-item list-group-item-info"><i
                                    class="fa fa-chevron-circle-right fa-fw"></i> Zusammenarbeit mit
                                Schule/Kindergarten/Hort
                            </li>
                        </ul>

                    </div>
                    <div class="col-md-6 well">
                        <h2 class="featurette-heading">Elternberatung. <span class="text-muted">Unterstützung.</span>
                        </h2>

                        <p class="lead">
                            <i class="fa fa-compass fa-3x pull-left fa-border"></i>
                            {{ parents|linebreaksbr }}
                        </p>

                        <p class="text-center">
                            <a href="#contact" class="btn btn-contact btn-dark btn-lg">Kontakt</a>
                        </p>

                    </div>
                </div>

                <hr class="featurette-divider">

                <div id="supervision" class="row featurette">
                    <div class="col-md-6 well">
                        <h2 class="featurette-heading">Supervision. <span class="text-muted">Individuelle Lösung.</span>
                        </h2>

                        <p class="lead">
                            <i class="fa fa-eye fa-3x pull-left fa-border"></i>
                            {{ supervision|linebreaksbr }}
                        </p>

                        <p class="text-center">
                            <a href="#contact" class="btn btn-contact btn-dark btn-lg">Kontakt</a>
                        </p>

                    </div>
                    <div class="col-md-6">
                        <img src="{{ STATIC_URL }}pages/img/wood.jpg" alt="Wood Picture"
                             class="img-responsive center-block">
                        <ul class="list-group">
                            <li class="list-group-item work-focus"><b>Arbeitsschwerpunkte</b>
                            </li>
                            <li class="list-group-item list-group-item-info"><i
                                    class="fa fa-chevron-circle-right fa-fw"></i> Veränderungen im beruflichen Kontext
                            </li>
                            <li class="list-group-item list-group-item-info"><i
                                    class="fa fa-chevron-circle-right fa-fw"></i> Konflikte im Arbeitsumfeld
                            </li>
                            <li class="list-group-item list-group-item-info"><i
                                    class="fa fa-chevron-circle-right fa-fw"></i> Verbesserung der Selbstorganisation
                            </li>
                            <li class="list-group-item list-group-item-info"><i
                                    class="fa fa-chevron-circle-right fa-fw"></i> Fallbesprechungen
                            </li>
                        </ul>
                    </div>
                </div>

                <hr class="featurette-divider">

                <div id="coaching" class="row featurette">
                    <div class="col-md-6">
                        <img src="{{ STATIC_URL }}pages/img/coaching.jpg" alt="Family Picture"
                             class="img-responsive center-block">
                        <ul class="list-group">
                            <li class="list-group-item work-focus"><b>Arbeitsschwerpunkte</b>
                            </li>
                            <li class="list-group-item list-group-item-info"><i
                                    class="fa fa-chevron-circle-right fa-fw"></i> Verbesserung der Selbstorganisation
                            </li>
                            <li class="list-group-item list-group-item-info"><i
                                    class="fa fa-chevron-circle-right fa-fw"></i> Stressmanagement
                            </li>
                            <li class="list-group-item list-group-item-info"><i
                                    class="fa fa-chevron-circle-right fa-fw"></i> Veränderungen im beruflichen Kontext
                            </li>
                            <li class="list-group-item list-group-item-info"><i
                                    class="fa fa-chevron-circle-right fa-fw"></i> Konflikte im Arbeitsumfeld
                            </li>
                        </ul>

                    </div>
                    <div class="col-md-6 well">
                        <h2 class="featurette-heading">Coaching. <span class="text-muted">Erfolgreich.</span>
                        </h2>

                        <p class="lead">
                            <i class="fa fa-shield fa-3x pull-left fa-border"></i>
                            {{ coaching|linebreaksbr }}
                        </p>

                        <p class="text-center">
                            <a href="#contact" class="btn btn-contact btn-dark btn-lg">Kontakt</a>
                        </p>

                    </div>
                </div>

                <!-- /END THE FEATURETTES -->

            </div>
            <!-- /.col-lg-10 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>

<!-- Callout -->
<aside class="callout">
    <div class="text-vertical-center">
        <h1></h1>
    </div>
</aside>


<!-- Call to Action -->
<aside class="call-to-action bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3>Persönlicher Erstkontakt</h3>

                <p class="lead" style="color: white">
                    {{ lead|linebreaksbr }}
                </p>
                <a href="#contact" class="btn btn-lg btn-light">Weiter!</a>
            </div>
        </div>
    </div>
</aside>

<!-- Contact -->
<section id="contact" class="contact" style="padding-top: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center lead">
                <h2>Kontakt</h2>
                <hr class="small">

                <p>
                    {{ contact|linebreaksbr }}
                </p>

                <div class="col-lg-6 well well-sm">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-phone fa-fw"></i> <a href="tel:00436801291369">+43 (0) 680 12 91 369</a>
                        </li>
                        <li><i class="fa fa-envelope-o fa-fw"></i> <a href="mailto:office@gudrunkopp.at">office@gudrunkopp.at</a>
                        </li>
                        <li><i class="fa fa-map-marker fa-fw"></i> <a
                                href="https://goo.gl/maps/8R6Fe"
                                target="_blank">Zaunerweg 5/6, 4020
                            Linz, Österreich</a><br/>
                            <button class="btn btn-light" data-toggle="modal" data-target="#pathModal">
                                Anfahrtsplan
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="pathModal" tabindex="-1" role="dialog"
                                 aria-labelledby="pathModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span
                                                    aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                                            </button>
                                            <h4 class="modal-title" id="pathModalLabel">Anfahrtsplan</h4>
                                        </div>
                                        <div class="modal-body">
                                            <img src="{{ STATIC_URL }}pages/img/path/path1.jpg" alt="Lageplan"
                                                 class="img-responsive"/>
                                            <img src="{{ STATIC_URL }}pages/img/path/path2.jpg" alt="Lageplan"
                                                 class="img-responsive"/>
                                            <img src="{{ STATIC_URL }}pages/img/path/path3.jpg" alt="Lageplan"
                                                 class="img-responsive"/>
                                            <img src="{{ STATIC_URL }}pages/img/path/path4.jpg" alt="Lageplan"
                                                 class="img-responsive"/>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 well well-sm" style="padding-top: 43px; padding-bottom: 33px;">
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/maggkopp" target="_blank"><i
                                    class="fa fa-facebook fa-fw fa-3x"></i></a>
                        </li>
                        {#                        <li>#}
                        {#                            <a href="#"><i class="fa fa-twitter fa-fw fa-3x"></i></a>#}
                        {#                        </li>#}
                        <li>
                            <a href="https://www.xing.com/profile/Gudrun_Kopp" target="_blank"><i
                                    class="fa fa-xing fa-fw fa-3x"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-lg-offset-1">
                <ul class="list-group">
                    <li class="list-group-item disabled">Allgemeine Hinweise</li>
                    <li class="list-group-item">
                        <b>Schweigepflicht</b><br/>
                        <i class="fa fa-2x fa-microphone-slash pull-left fa-border"></i>
                        Alle besprochenen Inhalte unterliegen der Verschwiegenheit.<br/>&nbsp;
                    </li>
                    <li class="list-group-item">
                        <b>Dauer</b><br/>
                        <i class="fa fa-2x fa-clock-o pull-left fa-border"></i>
                        Eine Beratungseinheit dauert 50 Minuten. Je nach Inhalt ist manchmal auch eine
                        längere Sitzung
                        sinnvoll. Dauer und Häufigkeit der Termine werden individuell vereinbart.
                    </li>
                    <li class="list-group-item">
                        <b>Kosten</b><br/>
                        <i class="fa fa-2x fa-eur pull-left fa-border"></i>
                        Das jeweilige Honorar wird individuell vereinbart.
                        Unverbindliche Anfrage jederzeit möglich.
                        Der Erstkontakt ist kostenlos.
                    </li>
                </ul>
            </div>
            <div class="col-lg-5">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2654.329850713327!2d14.274337900000008!3d48.29650719999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47739775efe34e7d%3A0x5faf2f63cab3e8ed!2sZaunerweg+5%2C+4020+Linz%2C+Austria!5e0!3m2!1sen!2s!4v1414025916567"
                        width="100%" height="305" frameborder="0" style="border:0"></iframe>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer>
    <div class="col-lg-10 col-lg-offset-1 text-center">
        <hr class="small">
        <p class="text-muted">
            <a href="http://www.eraldo.org" target="_blank">Copyright &copy; Eraldo Webdesign 2014</a>
            |
            <a href="#" data-toggle="modal" data-target="#impressumModal">
                Impressum
            </a>
        </p>
        <!-- Modal -->

        <div class="modal fade" id="impressumModal" tabindex="-1" role="dialog"
             aria-labelledby="impressumModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span
                                aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="impressumModalLabel">Impressum</h4>
                    </div>
                    <div class="modal-body" style="text-align: left;">
                        <span class="lead">Psychologische Praxis</span><br/>
                        Mag. Gudrun Kopp<br>
                        Klinische und Gesundheitspsychologin (eingetragen beim Bundesministerium für Gesundheit)<br>
                        Kinder-, Jugend- und Familienpsychologin (eingetragen beim BÖP)<br>
                        <br>
                        Mitglied beim Berufsverband Österreichischer PsychologInnen (www.boep.eu)<br>
                        <br>
                        <b>Kontakt</b><br>
                        <u>Adresse</u>: Zaunerweg ⅚, 4020 Linz<br>
                        <u>Tel.</u>: +43 680 12 91 369<br>
                        <u>Email</u>: office@gudrunkopp.at<br>
                        <u>Web</u>: www.gudrunkopp.at<br>
                        <br>
                        <b>Konzept, Text und Fotos</b><br>
                        © Gudrun Kopp<br>
                        <br>
                        <b>Fotos</b><br>
                        © Sebastian Mayer<br>
                        <br>
                        <b>Webdesign und Programmierung</b><br>
                        © Eraldo Helal<br>
                        <br/>
                        <b>Medieninhaber und Herausgeber</b>:<br/>
                        www.gudrunkopp.at ist die Onlinepräsentation von Mag. Gudrun Kopp, die als Medieninhaberin und
                        Herausgeberin auftritt. Die inhaltliche Verantwortung für die einzelnen Beiträge bzw. Kommentare
                        liegt bei der Autorin. Die Website dient zur Information der KlientInnen und KundInnen. Allle
                        Informationen erfolgen nach besten Wissen und Gewissen.<br/>
                        <br/>
                        <b>Urheberrecht und Copyright</b>:<br/>
                        Das Design, die Fotos sowie der Inhalt dieser Seiten sind urheberrechtlich geschützt. Die
                        Informationen sind nur für die persönliche Verwendung bestimmt. Jede weitergehende Nutzung ist
                        ohne die vorherige Zustimmung von Mag. Gudrun Kopp untersagt.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery Version 1.11.0 -->
<script src="{{ STATIC_URL }}pages/js/jquery-1.11.0.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ STATIC_URL }}pages/js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script>
    // Closes the sidebar menu
    $("#menu-close").click(function (e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function (e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function () {
        $('a[href*=#]:not([href=#])').click(function () {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
</script>

</body>

</html>
